PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/transactions
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=transactions

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
